<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<meta charset="UTF-8">
    <head th:include="layout :: htmlhead">
    </head>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
		.image-name {
			background-color: #007bff;
			border-color: #007bff;
			padding: 3px 10px;
			color: #fff;
			border-radius: 4px;
			border: 1px;
		}
		
		.image-name:active {
			background-color: #0062cc;
    		border-color: #005cbf;
		}
	</style>
    <body>
        <nav th:replace="layout :: menu">(menu)</nav>
        <div class="container assistive-accessory-container">
            <div class="border border-dark assistive-accessory-border">
            <form th:action="@{/assistiveaccessory/new/(form)}" th:object="${assistiveaccessory}" action="#" method="post" enctype="multipart/form-data">
                    <input type="hidden" id="id" th:field="*{id}" />    
                    
                    <div class="form-group assistive-accessory-group">
                        <label for="txtname">Nome</label>
                        <input type="text" class="form-control" id="txtname" placeholder="Insere o nome do acessório assistivo" th:field="*{name}" >
                    </div>
                    <div class="form-group assistive-accessory-group">
                        <label for="txtdescription">Descrição</label>
                        <input type="text" class="form-control" id="txtdescription" placeholder="Insere a descrição do acessório assistivo" th:field="*{description}" >
                    </div>
                    <div class="form-group assistive-accessory-group">
                        <label for="txtprescription">Prescrição</label>
                        <input type="text" class="form-control" id="txtprescription" placeholder="Insere a prescrição do acessório assistivo" th:field="*{prescription}">
                    </div>
                    <div class="form-group assistive-accessory-group">
                        <label for="txtfunction">Função</label>
                        <input type="text" class="form-control" id="txtfunction" placeholder="Insere a função do acessório assistivo" th:field="*{function}">
                    </div>
                    <div class="form-group assistive-accessory-group">
                        <label for="txtcode">Código</label>
                        <input type="text" class="form-control" id="txtcode" placeholder="Insere o código do acessório assistivo" th:field="*{code}">
                    </div>
                    <div class="form-group assistive-accessory-group">
                        <label for="txtprintTime">Tempo de impressão</label>
                        <input type="text" class="form-control" id="txtprintTime" placeholder="" th:field="*{printTime}">
                    </div>
                    <div class="form-group assistive-accessory-group">
                        <label for="txtamountOfInput">Quantidade de Insumo</label>
                        <input type="text" class="form-control" id="txtamountOfInput" placeholder="" th:field="*{amountOfInput}">
                    </div>
                    <div class="form-group">
                        <label for="slccategory">Categoria</label>
                        <select class="form-control" id="slccategory" th:field="*{category}">
                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="slccolor">Cores</label>
                        <select class="form-control" id="slccolor" th:field="*{colorList}" multiple="true">
                            <option th:each="color : ${colors}" th:value="${color.id}" th:text="${color.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="slcsize">Tamanhos</label>
                        <select class="form-control" id="slcsize" th:field="*{sizeList}" multiple="true">
                            <option th:each="size : ${sizes}" th:value="${size.id}" th:text="${size.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="slcmaterial">Materiais</label>
                        <select class="form-control" id="slcmaterial" th:field="*{materialList}" multiple="true">
                            <option th:each="material : ${materials}" th:value="${material.id}" th:text="${material.name}"></option>
                        </select>
                    </div>
					<br>
					<br>
					<table style="width:100%" th:if="*{!photoList.isEmpty()}">
						<tr style="text-align:center">
							<th>Imagem</th>
							<th>Cor</th>
							<th>Descrição</th>
							<th></th>
						</tr>
	 					<tr class="form-group multiple-form-group input-group" style="display: table-row" th:each="oneimage, stat : *{photoList}">
	 						<input type="hidden" th:field="*{photoList[__${stat.index}__]}"/>
	 						<td width="40%" style="text-align: center;">
		                        <img th:src="${'/assistiveaccessory/image-byte-array/'+oneimage.URI}">
	                        </td>
	                        <td width="25%">
		                        <select class="form-control" th:field="*{photoList[__${stat.index}__].accessoryColor}">
		                            <option th:each="color : ${colors}" th:value="${color.id}" th:text="${color.name}"></option>
		                        </select>
	                        </td>
	                        <td width="25%">
	                        	<input type="text" th:field="*{photoList[__${stat.index}__].description}" class="form-control">
		                   	</td>
		                   	<td width="25%">
		                   		<a href="form.html" th:href="'/assistiveaccessory/removephoto/' + ${assistiveaccessory.id} + '/' + ${oneimage.id}" class="btn btn-secondary btn-lg" role="button">Remover</a>
		                   	</td>
	                    </tr>
                    </table>
					
					
					<table style="width:100%">
						<tr style="text-align:center">
							<th>Imagem</th>
							<th>Cor</th>
							<th>Descrição</th>
						</tr>
	 					<tr class="form-group multiple-form-group input-group" style="display: table-row">
	 						<td width="50%">
		                        <div class="input-group-btn input-group-select">
		                        	<input id="uploadedU" type="file" name="photos[]" onclick="onClickImage()"/>
		                        </div>
	                        </td>
	                        
	                        <td width="25%">
		                        <select class="form-control" name="colorphotos[]">
		                            <option th:each="color : ${colors}" th:value="${color.id}" th:text="${color.name}"></option>
		                        </select>
	                        </td>
	                        
	                        <td width="25%">
		                        <table style="width:100%">
		                        	<tr>
		                        		<td width="90%">
		                        			<input type="text" name="desc[]" class="form-control">
		                        		</td>
		                        		<td width="10%">
					                        <span class="input-group-btn">
					                            <button type="button" class="btn btn-success btn-add">+</button>
					                        </span>
		                        		</td>
		                        	</tr>
		                        </table>
		                   	</td>
	                    </tr>
                    </table>
                    <button type="submit" class="btn btn-primary assistive-accessory-btn">Enviar</button>
                </form>
		</div>
        </div>
        <script>
        function onClickImage (event) {
        	console.log("Oi");
        } 
        
        (function ($) {
            $(function () {
            	var contador = 0;
                var addFormGroup = function (event) {
                    event.preventDefault();
                    var $formGroup = $(this).closest('.form-group');
                    var $multipleFormGroup = $formGroup.closest('.multiple-form-group');
                    var $formGroupClone = $formGroup.clone();
                    $(this)
                        .toggleClass('btn-success btn-add btn-danger btn-remove')
                        .html('–');
                    $formGroupClone.find('input').val('');
                    //$formGroupClone.find('input').attr('id', "uploadedU"+contador);
                    //$formGroupClone.find('label').attr('for', "uploadedU"+contador);
                    
                    //var files = $formGroupClone.find('input');
                    //var imageFilesLabel = $formGroupClone.find('label');
            		//files.on("change", function (event) {
            		// 	if (files.length > 0) {
            		  		//imageFilesLabel.innerHTML = event.path[0].value.replace(/^.*\\/g, "red");
            		//    	return;
            		//  	}
            		//});
                    
                    contador++;
                    $formGroupClone.find('.concept').text('Phone');
                    $formGroupClone.insertAfter($formGroup);
                    var $lastFormGroupLast = $multipleFormGroup.find('.form-group:last');
                    if ($multipleFormGroup.data('max') <= countFormGroup($multipleFormGroup)) {
                        $lastFormGroupLast.find('.btn-add').attr('disabled', true);
                    }
                };
                var removeFormGroup = function (event) {
                    event.preventDefault();
                    var $formGroup = $(this).closest('.form-group');
                    var $multipleFormGroup = $formGroup.closest('.multiple-form-group');
                    var $lastFormGroupLast = $multipleFormGroup.find('.form-group:last');
                    if ($multipleFormGroup.data('max') >= countFormGroup($multipleFormGroup)) {
                        $lastFormGroupLast.find('.btn-add').attr('disabled', false);
                    }
                    $formGroup.remove();
                };
                var countFormGroup = function ($form) {
                    return $form.find('.form-group').length;
                };
                $(document).on('click', '.btn-add', addFormGroup);
                $(document).on('click', '.btn-remove', removeFormGroup);
            });
        })(jQuery);
        </script>
        <div th:include="layout :: footer" id="footer">(footer)</div>
    </body>
</html>