<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="layout :: htmlhead">
    	<meta charset="UTF-8"/>
    </head>
    <body>
    	
        <div class="container">
            <nav th:replace="layout :: menu">(menu)</nav>
            <br>
            <div class="row"><div class="col-sm-4"><h4>Análise de Pedido</h4></div></div>
            <a href="form.html" th:href="@{/user/new}" class="btn btn-primary" role="button">Novo</a>
            <div class="border border-dark">
                <table class="table">
                    <thead class="thead-light"> 
                        <tr>
                            <th scope="col">Data do Pedido</th>
                            <th scope="col">Status</th>
                            <th scope="col">Nome</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr scope="row" th:each="orderstatus : ${listorderstatus}">
                            <td th:text="${#dates.format(requestbase.requestDate, 'dd/MM/yyyy HH:mm')}"></td>	
                            <td th:text="${orderstatus.status}"></td>
                            <td th:text="${orderstatus.user}"></td>
                            <td>
							<a href="form.html" target="_blank" th:href="@{'/requestfortreatment/update/' + ${requestbase.id}}" class="btn btn-secondary btn-lg" role="button">Consultar</a>
						</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="confirmExclusion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirmação de exclusão</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">X</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Confirmar a exclusão deste registro do Usuario?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-warning btn-lg" id="btnConf" role="button">Sim</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:include="layout :: footer" id="footer">(footer)</div>
        <script th:inline="javascript">
          /*<![CDATA[*/
               $('#confirmExclusion').on('show.bs.modal', function (event) {
                  var button = $(event.relatedTarget)
                  var recipient = button.data('id')
                  var modal = $(this)
                  modal.find('#btnConf').attr("href","/user/remove/" + recipient)
                })
           /*]]>*/
        </script> 
    </body>
</html>