<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="layout :: htmlhead"></head>
    <body>
    	<nav th:replace="layout :: menu">(menu)</nav>
        <div class="container">
            <div class="border border-dark">
            <form th:action="@{/user/savepassword/(form)}" th:object="${user}" action="#" method="post">
                    <input type="hidden" id="txtid" th:field="*{id}" />    
                    
                    <div class="form-group">
					<label for="txtfone">Nova senha</label> <input type="password"
						class="form-control" id="txtfone" placeholder="Nova senha"
						th:field="*{password}">
					</div>
                    
                                        
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
        <div th:include="layout :: footer" id="footer">(footer)</div>
    </body>
</html>