<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="layout :: htmlhead"></head>
    <body>
        <div class="container">
            <nav th:replace="layout :: menu">(menu)</nav>
            <div class="border border-dark">
            <form th:action="@{/user/(form)}" th:object="${user}" action="#" method="post">
                    <input type="hidden" id="txtid" th:field="*{id}" />
    
                    
                    <div class="form-group">
                        <label for="txtnome">Nome</label>
                        <input type="text" class="form-control" id="txtnome" placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <label for="txtemail">Email</label>
                        <input type="text" class="form-control" id="txtemail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="slctipo">Tipo</label>
                        <select class="form-control" id="slctipo" >
                            <option>Físico</option>
                            <option>Jurídico</option>
                            <option>Outros</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtphone">Telefone</label>
                        <input type="text" class="form-control" id="txtphone" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <label for="txtaddress">Endereço</label>
                        <input type="text" class="form-control" id="txtaddress" placeholder="Address">
                    </div>
                    <div class="form-group">
                        <label for="slcCity">Cidade</label>
                        <select class="form-control" id="slccity" th:field="*{city}">
                            <option th:each="city : ${listcity}" th:value="${city.id}" th:text="${city.nome}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
        <div th:include="layout :: footer" id="footer">(footer)</div>
    </body>
</html>