<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="layout :: htmlhead"></head>
    <body>
    	<nav th:replace="layout :: menu">(menu)</nav>
        <div class="container">
            <div class="border border-dark">
            <form th:action="@{/user/(form)}" th:object="${user}" action="#" method="post">
                    <input type="hidden" id="txtid" th:field="*{id}" />    
                    
                    <div class="form-group">
                        <label for="txtnome">Nome</label>
                        <input type="text" class="form-control" id="txtname" placeholder="Nome" th:field="*{name}" required>
                    </div>
                    <div class="form-group">
                        <label for="txttype">Ocupacao</label>
                        <input type="text" class="form-control" id="txttype" placeholder="Ocupacao" th:field="*{type}" >
                    </div>                    
                    <div class="form-group">
                        <label for="txtemail">Email</label>
                        <input type="text" class="form-control" id="txtemail" placeholder="Email" th:field="*{email}" required>
                    </div>
                    <div class="form-group">
                        <label for="txtphone">Telefone</label>
                        <input type="text" class="form-control" id="txtphone" placeholder="Telefone" th:field="*{phone}" required>
                    </div>
                    <div class="form-group">
                        <label for="txtaddress">Endereco</label>
                        <input type="text" class="form-control" id="txtaddress" placeholder="Endereco" th:field="*{address}">
                    </div>
                    <div class="form-group">
                        <label for="slcCity">Cidade</label>
                        <select class="form-control" id="slccity" th:field="*{city}">
                            <option th:each="city : ${listcity}" th:value="${city.id}" th:text="${city.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
					<label for="txtfone">Usuário</label> <input type="text"
						class="form-control" id="txtfone" placeholder="Nome do seu usuário"
						th:field="*{username}">
					</div>
                    <div class="form-group">                    
	                    <label for="slcEnabledUser">Usuario ativo?</label><br>
	                    <select class="form-control" id="slcEnabledUser" th:field="*{enabled}">
				            <option th:value="true">Sim</option>
				            <option th:value="false">Não</option>
				        </select>
                    </div>
                                        
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
        <div th:include="layout :: footer" id="footer">(footer)</div>
    </body>
</html>