<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="layout :: htmlhead"></head>
    <body>
        <div class="container">
            <nav th:replace="layout :: menu">(menu)</nav>
            <div class="border border-dark">
                <form th:action="@{/city/(form)}" th:object="${city}" action="#" method="post">
                    <input type="hidden" id="txtid" th:field="*{id}" />
                   
                    <div class="form-group">
                        <label for="txtname">Cidade</label>
                        <input type="text" class="form-control" id="txtname" th:field="*{name}" placeholder="Nome">
                        <label for="txtname">Estado</label>
                        <input type="text" class="form-control" id="txtstate" th:field="*{state}" placeholder="Estado">
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
        <div th:include="layout :: footer" id="footer">(footer)</div>
    </body>
</html>